/* Variables */

// Base theme colors
$first-color: #726B8F;
$second-color: #3A2F66C7;
$third-color: #D9D9D9;
$background-color: #D9D9D9;

// Pokémons background colors
$grassBG: #BFDFCC; 
$waterBG: #8FC6D4;
$bugBG: #EDB38B;
$fireBG: #DD7C6D;

// Pokémons 
